STACK_NAME=medialab

PATH_APPDATA=/opt/appdata/medialab
PATH_STORAGE=/mnt/storage-hdd/medialab
PATH_MEDIA=/mnt/storage-hdd/media
PATH_LOGS=/opt/appdata/medialab/logs

TIMEZONE=Europe/Zurich
DOMAIN=example.com

# User/group IDs — run `id` on the host to find yours
PUID=1000
PGID=1000
