STACK_NAME=logging

PATH_APPDATA=/opt/appdata/logging
PATH_LOGS=/var/log

TZ=Europe/Zurich
DOMAIN=example.com

# Grafana admin credentials
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change-me-grafana-password
