# =======================================
# -  Environment Configuration Example  -
# =======================================

# Paths
NODE_NAME=REPLACEME
PATH_APPDATA="/path/to/appdata/${NODE_NAME}"
PATH_STORAGE="/path/to/storage/${NODE_NAME}"
PATH_LOGS="/path/to/logs/${NODE_NAME}"

# Timezone
TZ=Europe/Zurich

# Monitoring
BESZEL_TOKEN=TOKENTOKENTOKENTOKEN
BESZEL_KEY=KEYKEYKEYKEYKEY