# =======================================
# -  Environment Configuration Example  -
# =======================================

# Paths
NODE_NAME=REPLACEME
PATH_APPDATA="/path/to/appdata/"
PATH_STORAGE="/path/to/storage/"
PATH_LOGS="/path/to/logs/"

# Timezone
TZ=Europe/Zurich

# Monitoring
BESZEL_TOKEN=TOKENTOKENTOKENTOKEN
BESZEL_KEY=KEYKEYKEYKEYKEY